.technologies_main{
    .banner_tech{
        &.apidev{
        .bg_banner{
            // background-image: url("../images/alltechnologies/api/Group 187.png"); 
         
        
        }
        .outer_banner_text{
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: flex-end;
        .image_block{
            // position: absolute;
            // top: 120px;
            img{
                max-width: 150px;
                object-fit: cover;
            }
        }
    }
    }
    }
}