.technologies_main{
    .banner_tech{
        &.laravelecommerce{
        .bg_banner{
            // background-image: url("../images/alltechnologies/laravelecommerce/Group 187.png"); 
          
        
        }
        .outer_banner_text{
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: flex-end;
        .image_block{
            // position: absolute;
            // top: 95px;
            img{
                max-width: 104px;
                object-fit: cover;
            }
        }
    }
}
    }
}