.header_second{
    // background-image: url("../images/header_second/Group 174.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80px;
    background-color: $primary_color;
}