$black:#000;
$white:#FFFFFF;
$transparent:transparent;
$primary_color:#1D3B4F;
$lightskyblue_color:#54C6E7;
$darkgray_color:#454545;
$skyblue_color:#1176BB;
$logolight_color:#3bb2e1;
$pink_color:#961C73;
$gray_color:#E3E3E3;
$lightpink_color:#FFEAEA;
// $lightyellow_color:#FFFCE2;
$lightyellow_color:#fff9c2;
$lightyellow_color:#fdf8cd;
$pista_color:#E8FFE5;
$lightpurple_color:#E7E3FF;
$lightsky_color:#E5FFFF;
$lightbrown_color:#C4C4C4;
$mediumsky_color:#B2E0FF;
$tab_bg: rgb(233 241 244);
$light_yellow_color:#F8FFEA;
$light_blue_color:#D2F6FF;
$light_pink_color:#FFEEED;
$light_purple_color:#F6EFFF;
$light_orange_color:#FFF3ED;
$light_gray_color:#E5EFFF;
$light_black_color:#c0c0c0;
$shadow_image:#F6EEFF;
$gray_light_color:#F8FBFC;
$light_gray_color:#f7f7f7;
$form_bg:#EAF6FF;
$box_shadow:0px 0px 20px rgba(0, 0, 0, 0.25);