@media screen and (max-width: 1600px) {
    // .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text p:nth-child(2) {
    //     min-height: 199px;
    // }
    .inner_slider figure>img.slide10_img {
        max-width: 561px;
    }
    .inner_slider figure>img.slide9_img {
        max-width: 310px;
    }
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes .blog_boxes .contetn_blog h3 {
        min-height: 82px;
    }
    .inner_slider figure>img.slide1_img {
        max-width: 250px;
    }
    .inner_slider figure>img.slide2_img {
        max-width: 390px;
    }
    .inner_slider figure>img.slide3_img {
        max-width: 480px;
    }
    .inner_slider figure>img.slide4_img {
        max-width: 460px;
    }
    .inner_slider figure>img.slide5_img {
        max-width: 170px;
    }
    .inner_slider figure>img.slide6_img {
        max-width: 170px;
    }
    .inner_slider figure>img.slide7_img {
        max-width: 170px;
    }
    .inner_slider figure>img.slide8_img {
        max-width: 170px;
    }
}

@media screen and (max-width: 1440px) {
    .main_header .inner_main_header .offcanvas ul li {
        padding-right: 27px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .content_web .list_of_language ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .main_block .inner_main_block .application_web.mobile_app .outer_block .lihg_pink_shadow {
        left: 16px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .fisrt_block {
        left: 195px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .second_block {
        left: 565px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .four_block {
        left: 416px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .five_block {
        left: 732px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side {
        padding: 78px 80px 78px 0;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side .block_outer_design .blog_detai_content .header {
        padding-bottom: 15px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side .block_outer_design .blog_detai_content {
        padding: 40px;
    }
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes .blog_boxes {
        padding: 22px;
    }
}

@media screen and (max-width: 1400px) {
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes .blog_boxes .contetn_blog p {
        min-height: 203px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side .block_outer_design .blog_detai_content p {
        line-height: 21px;
    }
    .container {
        padding: 0 50px;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_left {
        padding: 0 30px 0 50px;
    }
    .technologies_main .dedicate_professionals .inner_dedicate_profession .dedicate_expert_block {
        padding: 0 50px 0 30px;
    }
    .technologies_main .banner_tech .outer_banner_text {
        padding: 0 50px;
    }
    .portfolio_outer .container {
        padding: 0 130px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section {
        padding: 0 0 0 130px;
    }
    .main_header .inner_main_header .offcanvas ul li {
        padding-right: 27px;
    }
}

@media screen and (max-width: 1356px) {
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text p:nth-child(2) {
        min-height: 220px;
    }
    .main_block .inner_main_block .banner_section_outer .banner_section .your_goals {
        padding: 20px 50px;
    }
    .main_block .inner_main_block .about_use_main_page .inner_about_use .our_vision_block .inner_our_block .left_vision_block .content_vision p {
        line-height: 30px;
    }
    .inner_slider figure>img.slide1_img {
        max-width: 230px;
    }
    .inner_slider figure>img.slide2_img {
        max-width: 330px;
    }
    .inner_slider figure>img.slide3_img {
        max-width: 400px;
    }
    .inner_slider figure>img.slide4_img {
        max-width: 380px;
    }
    .inner_slider figure>img.slide5_img {
        max-width: 150px;
    }
    .inner_slider figure>img.slide6_img {
        max-width: 150px;
    }
    .inner_slider figure>img.slide7_img {
        max-width: 150px;
    }
    .inner_slider figure>img.slide8_img {
        max-width: 150px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .left_side {
        display: flex;
        align-items: center;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side {
        padding: 48px 50px 48px 0;
    }
    ul.main-nav>li>a {
        padding: 20px 16px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .third_block {
        left: 86px;
        top: 382px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .four_block {
        left: 346px;
        top: 382px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .five_block {
        left: 586px;
        top: 382px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .second_block {
        left: 475px;
        top: 126px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .fisrt_block {
        left: 195px;
        top: 126px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .polygon {
        height: 159px;
        width: 183px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_one {
        right: 17px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_two {
        right: 17px;
    }
    .main_block .inner_main_block .application_web.mobile_app .inner_app_web .blue_shadow {
        left: 0;
    }
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes .blog_boxes {
        padding: 20px 9px 20px 5px;
    }
}

@media screen and (max-width: 1200px) {
    .main_block .inner_main_block .second_expert_block .main_heading h2 {
        font-size: 50px;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_left .content_satisfaction p {
        line-height: 35px;
    }
    .technologies_main .dedicate_professionals.surity_zero_reliable .dedicate_expert_block .content_satisfaction p {
        line-height: 35px;
    }
    .technologies_main .content_satisfaction p {
        line-height: 35px;
    }
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text p:nth-child(2) {
        min-height: 217px;
    }
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text h3 {
        min-height: 117px;
    }
}

@media screen and (max-width: 1199px) {
    .blog_detail_main .inner_blog_detail .inner_blog_detail_block .blog_detail_images img {
        max-width: 100%;
    }
    .blog_detail_main .inner_blog_detail .inner_blog_detail_block .latest_blog h3 {
        font-size: 24px;
    }
    .technologies_main .banner_tech.uiux .outer_banner_text .image_block img {
        max-width: 164px;
    }
    .technologies_main .banner_tech.uiux .outer_banner_text .image_block {
        top: 70px;
    }
    .inner_slider figure>img.slide10_img {
        max-width: 311px;
    }
    .inner_slider figure>img.slide9_img {
        max-width: 211px;
    }
    .inner_slider figure>img.slide1_img {
        max-width: 220px;
    }
    .inner_slider figure>img.slide2_img {
        max-width: 266px;
    }
    .inner_slider figure>img.slide4_img {
        right: 0;
    }
    .inner_slider figure>img.slide3_img {
        max-width: 360px;
    }
    .inner_slider figure>img.slide4_img {
        max-width: 335px;
    }
    .inner_slider figure>img.slide5_img {
        max-width: 130px;
    }
    .inner_slider figure>img.slide6_img {
        max-width: 130px;
    }
    .inner_slider figure>img.slide7_img {
        max-width: 130px;
    }
    .inner_slider figure>img.slide8_img {
        max-width: 130px;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_left .content_satisfaction p {
        line-height: 30px;
        font-size: 20px;
    }
    .technologies_main .dedicate_professionals.surity_zero_reliable .dedicate_expert_block .content_satisfaction p {
        line-height: 30px;
        font-size: 20px;
    }
    .technologies_main .content_satisfaction p {
        line-height: 24px;
        font-size: 16px;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_left .heading_satisfaction h2 {
        margin-bottom: 20px;
    }
    .technologies_main .heading_satisfaction h2 {
        margin-bottom: 20px;
    }
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes .blog_boxes .contetn_blog p {
        min-height: 279px;
    }
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text p:nth-child(2) {
        min-height: 280px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side .block_outer_design .blog_detai_content {
        padding: 30px;
    }
    .main_block .inner_main_block .about_use_main_page .section_spacing {
        padding: 30px 0;
    }
    .main_block .inner_main_block .about_use_main_page .two_second_block .blue_light_box {
        bottom: 170px;
    }
    .main_block .inner_main_block .about_use_main_page .inner_about_use .our_vision_block .inner_our_block .left_vision_block .content_vision p {
        font-size: 18px;
        line-height: 28px;
    }
    ul.main-nav>li>a {
        padding: 20px 9px;
    }
    ul.main-nav>li>a {
        font-size: 20px;
    }
    .main_block .inner_main_block .application_web.mobile_app .outer_block .lihg_pink_shadow {
        left: px;
    }
    .main_block .inner_main_block .application_web.mobile_app .inner_app_web .blue_shadow {
        height: 40px;
        bottom: -43px;
        min-height: 60px;
    }
    .main_header .inner_main_header .offcanvas ul li {
        padding-right: 16px;
    }
    .main_header .inner_main_header .offcanvas ul li.nav-item .nav-link {
        font-size: 20px;
    }
    .main_heading h2 {
        font-size: 60px;
        line-height: 66px;
    }
    .sub_heading p {
        font-size: 24px;
        line-height: 30px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .content_web .list_of_language {
        padding-top: 27px;
    }
    .main_block .inner_main_block .application_web.mobile_app .inner_app_web .blue_shadow {
        left: 90px;
        max-width: 535px;
        height: 40px;
        bottom: -25px;
        min-height: 60px;
    }
    .main_block .inner_main_block .application_web.about .block_dotted {
        left: -23px;
    }
}

@media screen and (max-width: 1024px) {
    .technologies_main .banner_tech .content_technologies h3 {
        margin-bottom: 62px;
    }
    .main_block .inner_main_block .about_use_main_page .two_second_block .blue_light_box {
        bottom: 80px;
    }
    ul.main-nav>li>a {
        font-size: 18px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .five_block {
        left: 565px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .four_block {
        left: 327px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .second_block {
        left: 451px;
    }
}

@media screen and (max-width: 991px) {
    .contact_form .left_form_Sectiion .form_left_outer {
        height: 450px;
    }
    .contact_form .left_form_Sectiion .img_dote {
        left: 205px;
        top: 9%;
    }
    .contact_form .left_form_Sectiion .hexagone {
        right: 251px;
        top: 39%;
    }
    .contact_form .left_form_Sectiion .hexagone_small {
        left: 52px;
        top: 38%;
    }
    .main_block .inner_main_block .second_expert_block .inner_expert_block .block_outer .content_block {
        top: 190px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block {
        margin-left: -60px;
    }
    .contact_form .inner_block_contact .form_outer .button_submit button {
        padding: 15px 85px;
    }
    .blog-slider .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        background: $primary_color;
        color: $white;
    }
    .blog-slider .slick-prev,
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        padding: 0;
        cursor: pointer;
        color: $white;
        border: 0;
        outline: 0;
        background: $primary_color;
        border: none;
    }
    .blog_detail_main .inner_blog_detail .blog_three_boxes {
        width: 90%;
        margin: 0 auto;
    }
    .inner_main_block .application_web.about .block_dotted {
        left: 0;
    }
    // .main_block .inner_main_block .testimonial .inner_testimonial .slick-testimonial .slide_block p {
    //     max-width: 314px;
    // }
    .technologies_main .banner_tech.flutter .outer_banner_text .image_block {
        top: 56px;
    }
    .inner_slider figure>img.slide9_img {
        max-width: 166px;
    }
    .inner_slider .bgimages_slide4 {
        height: 495px;
    }
    .inner_slider figure>img.slide6_img {
        top: -60px;
    }
    .inner_slider figure>img.slide7_img {
        bottom: -306px;
    }
    .inner_slider figure>img.slide1_img {
        max-width: 170px;
    }
    .inner_slider figure>img.slide2_img {
        max-width: 206px;
    }
    .inner_slider figure>img.slide4_img {
        right: 130px;
        top: 40px;
    }
    .technologies_main .heading_satisfaction h2 {
        font-size: 35px;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_right img {
        border-radius: 100px 0 0 0;
    }
    .technologies_main .satisfaction_section.flexi_cost .satisfaction_text_right img {
        border-radius: 0 0 0 0;
    }
    .technologies_main .dedicate_professionals .inner_dedicate_profession .dedicate_expert_block {
        border-radius: 0 0 100px 0;
    }
    .technologies_main .satisfaction_section.flexi_cost .satisfaction_text_left {
        border-radius: 100px 0 0 0;
    }
    .technologies_main .dedicate_professionals.surity_zero_reliable .images_left_block img {
        border-radius: 0 0 100px 0;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_left .content_satisfaction p {
        line-height: 26px;
        font-size: 16px;
    }
    .technologies_main .dedicate_professionals.surity_zero_reliable .dedicate_expert_block .content_satisfaction p {
        line-height: 26px;
        font-size: 16px;
    }
    .technologies_main .content_satisfaction p {
        line-height: 26px;
        font-size: 16px;
    }
    .technologies_main .banner_tech .outer_banner_text .content_technologies h3 {
        margin-bottom: 28px;
    }
    .technologies_main .banner_tech .outer_banner_text .content_technologies {
        max-width: 52%;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .blog_list_detail .blog_list_page {
        margin: 20px 0;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .sliderport .slick-prev {
        top: 1%;
        left: 42%;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .sliderport .slick-next {
        top: 1%;
        right: 42%;
    }
    .Blog_main_section .two_upper_blog figure {
        border-radius: 30px 30px 0 0;
    }
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes_images .overlay {
        border-radius: 30px 30px 0 0;
    }
    .Blog_main_section .latest_news .map_images .on_map_header h3 {
        font-size: 35px;
    }
    .Blog_main_section .latest_news .map_images .on_map_header p {
        font-size: 20px;
    }
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text h3 {
        min-height: 116px;
    }
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes .blog_boxes {
        padding: 20px;
    }
    .Blog_main_section .two_upper_blog .outer_blog .blog_detail_boxes_images img {
        border-radius: 30px 30px 0 0;
        height: 100%;
        width: 100%;
    }
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text p:nth-child(2) {
        min-height: 190px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .left_side {
        margin-left: -23px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block {
        display: block;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block {
        margin-left: -23px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .recent_block .inner_recent_block .three_block .first_block .squre_block .content_detail p {
        font-size: 14px;
        line-height: 17px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .recent_block .inner_recent_block .three_block .first_block .squre_block .header_text p {
        font-size: 44px;
        margin-bottom: 0;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .imge_block {
        margin-left: -23px;
    }
    .main_block .inner_main_block .about_use_main_page .inner_about_use .our_vision_block .inner_our_block .right_vision_block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .main_block .inner_main_block .about_use_main_page .inner_about_use .our_vision_block .inner_our_block .blue_light_box {
        top: 127px;
    }
    .main_block .inner_main_block .about_use_main_page .two_second_block .blue_light_box {
        bottom: 130px;
    }
    .main_block .inner_main_block .about_use_main_page .inner_about_use .our_vision_block .inner_our_block .left_vision_block .content_vision p {
        font-size: 16px;
        line-height: 22px;
    }
    ul.main-nav>li>a {
        font-size: 16px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .five_block {
        left: 205px;
        top: 602px;
    }
    .main_block .inner_main_block .our_expert .expert_right .tab {
        width: 21%;
    }
    .main_block .inner_main_block .our_expert .tabcontent .second_block {
        left: 322px;
    }
    .main_block .inner_main_block .our_expert .tabcontent .fisrt_block {
        left: 78px;
    }
    .navbar-brand img {
        max-width: 107px;
    }
    .main_block .inner_main_block .application_web.mobile_app .inner_app_web .blue_shadow {
        left: 90px;
        max-width: 535px;
        height: 40px;
        bottom: -5px;
        min-height: 60px;
    }
    .main_block .inner_main_block .application_web.mobile_app .content_web .list_of_language ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .technologies_main .banner_tech .outer_banner_text {
        padding: 0 30px;
    }
    .container {
        padding: 0 30px;
    }
    .technologies_main .dedicate_professionals .inner_dedicate_profession .dedicate_expert_block {
        padding: 0 30px 0 15px;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_left {
        padding: 0 15px 0 30px;
    }
    .portfolio_outer .container {
        padding: 0 60px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section {
        padding: 0 0 0 60px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_one {
        right: 17px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_two {
        right: -3px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_three {
        right: 150px;
    }
    .main_header .inner_main_header .navbar-brand img {
        max-width: 130px;
    }
    .main_header .inner_main_header .offcanvas ul li.nav-item .nav-link {
        font-size: 16px;
    }
    .main_header .inner_main_header .offcanvas ul li {
        padding-right: 5px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .content_web .list_of_language ul li p {
        font-size: 14px;
    }
    .main_block .inner_main_block .footer .inner_footer .footer_bg .footer_inner .footer_block ul.foter_main_ul li {
        margin: 9px 0;
    }
    .main_block .inner_main_block .footer .inner_footer .footer_bg .footer_inner .footer_block ul.foter_main_ul li .social_media {
        pa .main_block .inner_main_block .footer .inner_footer .footer_bg .footer_inner .footer_block ul.foter_main_ul li .subscribe_form .sbf__button {
            width: 30%;
            min-height: 86%;
        }
        .technologies_main .banner_tech.api .outer_banner_text .image_block img {
            max-width: 130px;
        }
    }
}

@media screen and (max-width: 767px) {
    .main_block .inner_main_block .testimonial .inner_testimonial .slick-testimonial .slide_block p {
        max-width: 490px;
    }
    .main_block .inner_main_block .banner_section_outer .banner_section .your_goals {
        padding: 20px 20px;
    }
    .contact_form .tow_form_block {
        padding-top: 20px;
    }
    .about_use_main_page .content_header {
        margin-top: 0;
        text-align: center;
    }
    .about_use_main_page .content_vision p {
        text-align: justify;
    }
    .technologies_main .technologies_description p {
        font-size: 20px;
    }
    .main_block .inner_main_block .application_web.about .angle_shadow {
        width: 230px;
        height: 180px;
    }
    #contact-form form .wpcf7-response-output.errormessge {
        margin: 0 auto 30px;
    }
    #contact-form form .wpcf7-response-output {
        margin: 0 auto 30px;
    }
    .main_career_block .inner_career_block .life-comapny .column {
        padding: 0px 10px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block .inner_thanku .inner_block h2 {
        font-size: 68px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block .inner_thanku {
        padding: 50px 42px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .mobile_number {
        right: -65px;
    }
    .thanku_block .section_spacing {
        padding: 60px 0 0 0;
    }
    .blog-slider .slick-next {
        right: 0;
    }
    .blog-slider .slick-prev {
        left: 0;
    }
    .main_block .inner_main_block .application_web.about .angle_shadow {
        top: -29px;
        right: 50px;
    }
    .content_header {
        margin-top: 20px;
    }
    ul.sub-menu-lists li:nth-child(5) a {
        color: $white !important;
    }
    .navbar-brand img {
        max-width: 150px;
    }
    .technologies_main .banner_tech.php .outer_banner_text .image_block img {
        max-width: 145px;
    }
    .technologies_main .banner_tech.codeignetor .outer_banner_text .image_block img {
        max-width: 120px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .mobile_number {
        top: 68%;
    }
    .inner_slider * {
        z-index: 99;
    }
    .content_header h3 {
        font-size: 46px;
    }
    ul.main-nav>li>a {
        padding: 0 10px;
    }
    .main_block .inner_main_block .testimonial .inner_testimonial .slick-testimonial .slide_block {
        margin: 15px auto;
    }
    .inner_slider figure>img.slide9_img {
        max-width: 42%;
    }
    .inner_slider figure>img.slide10_img {
        max-width: 72%;
    }
    .inner_slider figure>img.slide1_img {
        max-width: 35%;
    }
    .inner_slider figure>img.slide2_img {
        max-width: 55%;
    }
    .inner_slider figure>img.slide4_img {
        max-width: 70%;
    }
    .inner_slider figure>img.slide3_img {
        max-width: 70%;
    }
    .inner_slider figure>img.slide4_img {
        right: 0;
        top: -59px;
    }
    .inner_slider figure>img.slide5_img {
        max-width: 30%;
        left: 0;
        right: auto;
    }
    .inner_slider figure>img.slide6_img {
        max-width: 30%;
    }
    .inner_slider figure>img.slide6_img {
        top: -95px;
        left: 35%;
    }
    .inner_slider figure>img.slide7_img {
        max-width: 30%;
        bottom: -416px;
        left: 35%;
    }
    .inner_slider figure>img.slide8_img {
        max-width: 30%;
        left: auto;
        right: 0;
    }
    .technologies_main .banner_tech .outer_banner_text .content_technologies h3 {
        margin-bottom: 123px;
    }
    .technologies_main .banner_tech .outer_banner_text {
        padding: 0 15px;
    }
    .technologies_main .banner_tech .outer_banner_text .content_technologies p {
        font-size: 18px;
        background-color: $primary_color;
        padding: 10px;
    }
    .technologies_main .banner_tech .outer_banner_text .content_technologies h3 {
        font-size: 45px;
    }
    .technologies_main .banner_tech .outer_banner_text .content_technologies {
        max-width: 100%;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .sliderport {
        margin: 45px auto 0;
    }
    .Blog_main_section .latest_news .map_images .on_map_header h3 {
        font-size: 26px;
    }
    .Blog_main_section .latest_news .map_images .on_map_header p {
        font-size: 15px;
    }
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text h3 {
        min-height: auto;
    }
    .Blog_main_section .three_block_section .inner_three_block .blog_three_boxes .heading_text p:nth-child(2) {
        min-height: auto;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side {
        padding: 40px 25px 40px 0;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side .block_outer_design .blog_detai_content {
        padding: 15px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .inner_blog .two_block .right_side .block_outer_design .blog_detai_content .header h4 {
        font-size: 22px;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block .responsive_contetn {
        top: 78px;
        left: 59px;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block .responsive_contetn .inner_contetn .content_text_responsive p {
        font-size: 14px;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block {
        min-height: 650px;
    }
    .main_block .inner_main_block .testimonial .inner_testimonial .leaves .three_leavs .img1 {
        max-width: 105px;
    }
    .main_block .inner_main_block .testimonial .inner_testimonial .leaves .three_leavs .img2 {
        max-width: 83px;
    }
    .main_block .inner_main_block .testimonial .inner_testimonial .leaves .three_leavs .img3 {
        left: -7px;
        top: 69px;
        max-width: 46px;
    }
    .main_block .inner_main_block .application_web.about .inner_app_web .content_web {
        margin-top: 0px;
    }
    .main_block .inner_main_block .application_web.about {
        padding-bottom: 50px;
    }
    .main_block .inner_main_block .application_web.about .block_dotted {
        bottom: -40px;
        left: -8px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile .text_block p {
        font-size: 35px;
    }
    .main_block .inner_main_block .our_expert .tabcontent {
        width: 100%;
    }
    .main_block .inner_main_block .our_expert .expert_right .tab {
        width: 100%;
        display: flex;
    }
    .main_block .inner_main_block .our_expert .expert_right {
        display: block;
    }
    .main_block .inner_main_block .our_expert .tab button {
        padding: 24px 24px;
    }
    .main_block .inner_main_block .our_expert .expert_right .tab .tablinks.active::after {
        top: 28px;
    }
    .main_block .inner_main_block .our_expert .our_expert_text p {
        transform: rotate(360deg);
        font-size: 40px;
    }
    .main_block .inner_main_block .application_web.mobile_app .outer_block .image_block {
        max-width: 85%;
    }
    .main_block .inner_main_block .application_web.mobile_app .outer_block .lihg_pink_shadow {
        left: 0;
    }
    .main_block .inner_main_block .application_web.mobile_app .inner_app_web .blue_shadow {
        display: none;
    }
    .main_block .inner_main_block .application_web.mobile_app .inner_app_web .content_web {
        margin-top: 0;
    }
    .main_block .inner_main_block .application_web.mobile_app .content_web .list_of_language {
        padding-bottom: 61px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_one {
        top: -68px;
        right: 0;
    }
    .main_block .inner_main_block .application_web .inner_app_web .image_block {
        max-width: 100%;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_two {
        right: 390px;
        bottom: -62px;
    }
    .inner_main_header .offcanvas {
        background-color: $white;
        height: 100vh;
        padding: 15px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .content_web .hexagon_four {
        left: 0;
    }
    .main_block .inner_main_block .application_web .inner_app_web .content_web {
        margin-top: 49px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .content_web .list_of_language ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .main_block .inner_main_block .banner_section_outer .banner_top_images {
        min-height: 620px;
    }
    .main_block .inner_main_block .banner_section_outer .banner_section .your_goals {
        z-index: 99;
        top: 24%;
    }
    .section_spacing {
        padding: 30px 0 0 0;
    }
    .inner_main_header .offcanvas.offcanvas-end {
        width: 350px;
    }
    .main_header .inner_main_header .offcanvas ul li.nav-item .nav-link {
        color: $darkgray_color;
        font-size: 21px;
    }
    .inner_main_header .offcanvas .offcanvas-header {
        position: absolute;
        right: 8px;
        top: 8px;
        background: $skyblue_color;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: end;
        align-items: center;
        border-radius: 50px;
        .btn-close {
            opacity: 1;
            filter: invert(1);
            background-size: 11px;
        }
    }
    .recent_block.section_spacing {
        padding: 92px 0;
    }
    .container {
        padding: 0 15px;
    }
    .technologies_main .dedicate_professionals .inner_dedicate_profession .dedicate_expert_block {
        padding: 0 15px 0 15px;
    }
    .technologies_main .satisfaction_section .inner_satisfaction .satisfaction_text_left {
        padding: 0 15px 0 15px;
    }
    .portfolio_outer .container {
        padding: 0 30px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section {
        padding: 0 0 0 30px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .imge_block {
        margin-left: -13px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .recent_block .inner_recent_block .three_block {
        display: block;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .recent_block .inner_recent_block .three_block .secod_block {
        display: block;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .recent_block .inner_recent_block .three_block .secod_block ul li {
        margin: 20px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .recent_block .inner_recent_block .three_block .squre_block {
        max-width: 100%;
        min-height: 200px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .recent_block .inner_recent_block .three_block .first_block .squre_block .header_text p {
        font-size: 24px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .page_block .blue_line {
        width: 350px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .imge_block img {
        max-width: 350px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .imge_block {
        min-height: 250px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .mobile_number {
        top: 62%;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .slider-nav .slick-prev {
        top: 1%;
        left: 40%;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .slider-nav .slick-next {
        position: absolute;
        top: 1%;
        right: 40%;
    }
    .blogs_listing.section_spacing {
        padding-top: 80px;
    }
    .main_block .inner_main_block .footer .inner_footer .footer_bg .footer_inner .footer_block ul.foter_main_ul {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .footer .inner_footer .footer_bg .footer_inner .footer_block ul.foter_main_ul {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .footer .inner_footer .footer_bg .footer_inner .footer_block ul.foter_main_ul li {
        margin: 9px 0;
    }
}

@media screen and (max-width: 575px) {
    .main_block .inner_main_block .banner_section_outer .banner_section .your_goals .top_heading_section h2 {
        font-size: 30px;
    }
    .main_block .skyblue_text {
        font-size: 37px;
    }
    .main_block .inner_main_block .testimonial .inner_testimonial .slick-testimonial .slide_block p {
        max-width: 400px;
    }
    .main_block .inner_main_block .second_expert_block .inner_expert_block .block_outer .image_block {
        max-width: 100%;
    }
    .main_block .inner_main_block .second_expert_block .inner_expert_block .block_outer .content_block {
        right: 55px;
    }
    .page_header_main h3 {
        font-size: 44px;
    }
    .technologies_main .banner_tech.api .outer_banner_text .image_block img {
        max-width: 102px;
    }
    .technologies_main .banner_tech.laravel .outer_banner_text .image_block img {
        max-width: 93px;
    }
    .technologies_main .banner_tech.codeignetor .outer_banner_text .image_block img {
        max-width: 106px;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .slider-nav .slick-prev {
        top: 1%;
        left: 28%;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .slider-nav .slick-next {
        position: absolute;
        top: 1%;
        right: 28%;
    }
    .inner_slider .bgimages_slide4 {
        height: 480px;
    }
    .inner_slider figure>img.slide7_img {
        bottom: -223px;
    }
    .inner_slider .bgimages_slide2 {
        height: 480px;
    }
    .inner_slider .bgimages_slide1 {
        height: 480px;
    }
    .portfolio_modal .modal-dialog {
        margin: 4.75rem 15px;
    }
    .inner_slider .bgimages_slide3 {
        height: 480px;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .sliderport .slick-next {
        top: 1%;
        right: 30%;
    }
    .portfolioslider_main_section .inner_portfolioslider .portfolioslider_main_page .inner_portfolioslider_page .sliderport .slick-prev {
        top: 1%;
        left: 30%;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block {
        padding: 43px 0;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block .inner_thanku {
        padding: 50px 75px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block .inner_thanku .inner_block h2 {
        font-size: 40px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block .inner_thanku .social_block ul li img {
        max-width: 26px;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block .responsive_contetn {
        top: 58px;
        left: 29px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .page_block .blue_line {
        width: 220px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .imge_block img {
        max-width: 170px;
    }
    .main_heading h2 {
        font-size: 42px;
        line-height: 49px;
    }
    .main_block .inner_main_block .application_web .inner_app_web .content_web .list_of_language ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_two {
        right: 0;
    }
    .main_block .inner_main_block .application_web .inner_app_web .hexagonal .hexagon_three {
        right: 140px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile #tab-3,
    .main_block .inner_main_block .our_expert .expert_mobile #tab-3+span {
        font-size: 14px;
        padding: 0 5px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile #tab-2,
    .main_block .inner_main_block .our_expert .expert_mobile #tab-2+span {
        font-size: 14px;
        padding: 0 5px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile #tab-1,
    .main_block .inner_main_block .our_expert .expert_mobile #tab-1+span {
        font-size: 14px;
        padding: 0 5px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile .effect-1>input:checked+span::after {
        left: 26px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block {
        margin-left: -31px;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block .inner_thanku {
        padding: 51px 95px;
    }
}

@media screen and (max-width: 475px) {
    .main_block .skyblue_text {
        font-size: 34px;
    }
    .main_block .inner_main_block .testimonial .inner_testimonial .slick-testimonial .slide_block p {
        max-width: 240px;
    }
    .contact_form .left_form_Sectiion .form_left_outer .heading_one {
        font-size: 35px;
        line-height: 30px;
    }
    .contact_form .left_form_Sectiion .form_left_outer .heading_two {
        font-size: 22px;
        line-height: 26px;
    }
    .contact_form .left_form_Sectiion .form_left_outer .heading_three {
        font-size: 33.6983px;
        line-height: 26px;
    }
    .img_dote,
    .hexagone,
    .hexagone_small,
    .rectengal {
        display: none;
    }
    .main_block .inner_main_block .portfolio_outer .blog_outer_section .blog_design .thanx_block .thanku_block .inner_thanku {
        padding: 51px 23px;
    }
    .main_block .inner_main_block .portfolio_outer .inner_block .upper_two_block .logo_blog .mobile_number {
        right: -60px;
    }
    .technologies_main .banner_tech.codeignetor .outer_banner_text .image_block img {
        max-width: 90px;
    }
    // .technologies_main .banner_tech .outer_banner_text .content_technologies h3 {
    //     margin-bottom: 22px;
    // }
    .technologies_main .dedicate_professionals .inner_dedicate_profession .images_left_block {
        padding: 0 0 0 0;
    }
    .technologies_main .satisfaction_section.flexi_cost .satisfaction_text_right img {
        padding-bottom: 0px;
    }
    .technologies_main .banner_tech .outer_banner_text .content_technologies h3 {
        font-size: 40px;
    }
    .Blog_main_section .latest_news .map_images .on_map_header h3 {
        font-size: 18px;
    }
    .Blog_main_section .latest_news .map_images .on_map_header p {
        font-size: 12px;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block .responsive_contetn {
        top: 58px;
        left: 10px;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block {
        min-height: 640px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile .polygon_m {
        height: 229px;
        width: 283px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile #tab-3,
    .main_block .inner_main_block .our_expert .expert_mobile #tab-3+span {
        font-size: 9px;
        padding: 0 5px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile #tab-2,
    .main_block .inner_main_block .our_expert .expert_mobile #tab-2+span {
        font-size: 9px;
        padding: 0 5px;
    }
    .main_block .inner_main_block .our_expert .expert_mobile #tab-1,
    .main_block .inner_main_block .our_expert .expert_mobile #tab-1+span {
        font-size: 9px;
        padding: 0 5px;
    }
    .main_block .inner_main_block .portfolio_outer .responsive_block .inner_responsive .imge_block .responsive_contetn .inner_contetn .content_text_responsive p {
        font-size: 12px;
    }
    .technologies_main .banner_tech.php .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.codeignetor .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.nodejs .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.yii .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.angular .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.cakephp .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.react .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.api .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.htmlcss .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.uiux .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.wordpress .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.android .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.laravel .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.ios .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.iconic .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.flutter .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.reactnative .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.native .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.magento .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.woocom .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.prestashop .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.shoppyfy .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.laravelecommerce .outer_banner_text .image_block {
        top: 22px;
        right: 15px;
    }
    .technologies_main .banner_tech.nodejs .outer_banner_text .image_block img {
        max-width: 195px;
    }
    .technologies_main .banner_tech.yii .outer_banner_text .image_block img {
        max-width: 120px;
    }
    .technologies_main .banner_tech.angular .outer_banner_text .image_block img {
        max-width: 120px;
    }
    .technologies_main .banner_tech.cakephp .outer_banner_text .image_block img {
        max-width: 130px;
    }
    .technologies_main .banner_tech.uiux .outer_banner_text .image_block img {
        max-width: 137px;
    }
    .technologies_main .banner_tech.wordpress .outer_banner_text .image_block img {
        max-width: 86px;
    }
    .technologies_main .banner_tech.android .outer_banner_text .image_block img {
        max-width: 102px;
    }
    .technologies_main .banner_tech.htmlcss .outer_banner_text .image_block img {
        max-width: 108px;
    }
    .technologies_main .banner_tech.ios .outer_banner_text .image_block img {
        max-width: 92px;
    }
    .technologies_main .banner_tech.iconic .outer_banner_text .image_block img {
        max-width: 121px;
    }
    .technologies_main .banner_tech.flutter .outer_banner_text .image_block img {
        max-width: 100px;
    }
    .technologies_main .banner_tech.magento .outer_banner_text .image_block img {
        max-width: 100px;
    }
    .technologies_main .banner_tech.woocom .outer_banner_text .image_block img {
        max-width: 130px;
    }
    .technologies_main .banner_tech.prestashop .outer_banner_text .image_block img {
        max-width: 150px;
    }
    .technologies_main .banner_tech.shoppyfy .outer_banner_text .image_block img {
        max-width: 120px;
    }
}