$black: #000;
$white: #FFFFFF;
$transparent: transparent;
$primary_color: #1D3B4F;
$lightskyblue_color: #54C6E7;
$darkgray_color: #454545;
$skyblue_color: #1176BB;
$logolight_color: #3bb2e1;
$subheading_text:#0fb4f9;
$pink_color: #961C73;
$gray_color: #E3E3E3;
$lightpink_color: #FFEAEA;
$lightyellow_color: #FFFCE2;
$pista_color: #E8FFE5;
$lightpurple_color: #E7E3FF;
$lightsky_color: #E5FFFF;
$lightbrown_color: #C4C4C4;
$mediumsky_color: #B2E0FF;
$tab_bg: rgb(233 241 244);
$light_yellow_color: #F8FFEA;
$light_blue_color: #D2F6FF;
$light_pink_color: #FFEEED;
$light_purple_color: #F6EFFF;
$light_orange_color: #FFF3ED;
$light_gray_color: #E5EFFF;
$light_black_color: #c0c0c0;
$shadow_image: #F6EEFF;
$gray_light_color: #F8FBFC;
$light_gray_color: #f7f7f7;
$form_bg: #EAF6FF;
$box_shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
$blue_light_color: #E8F5FF;
$portfolio_bg_color: #D7EFFF;
$darksky_color: #43B9E3;
$box-shadow_one: 0px 26.3085px 52.617px rgba(0, 0, 0, 0.25);
$linear_gradiant: linear-gradient(to right, #3ab1e1, #1176bb);
$portfolio_red: #B01E2E;
$portfoli_purple: #B1AAF5;
$portfolio_marun: #8B1C3B;
$android:#049e42;
$magento:#ed4a19;
$shopify:#79b259;
$ionic:#2f72e1;
$reactnative:#35e0e0;
$nativescript:#3d5afe;
$apidev:#843ffe;
$woocomerce:#7f54b3;
$laravel:#ff2d20;
$yii:#f18a2a;
$cakephp:#d33e44;
$uiux:#8f94d3;
$wordpress:#21759b;
$prestashop:#e2066f;
$flutter:#44d1fd;
$iosnative:#464646;
$php:#777bb3;
$angular:#dd0031;
$react:#00ccff;
$codeingnitor:#ee4323;
$htmlcss:#1f62ae;
$drupal:#009cde;