.modal-header {
    border-bottom: none;
}

.modal {
    color: $darkgray_color;
}

.modal-content {
    position: relative;

    a {
        position: absolute;
        right: -9px;
        top: -9px;
        background: $skyblue_color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        -webkit-appearance: none !important;

        .ti {
            font-size: 13px;
            font-weight: $font_weight_600;
            color: $white;
        }
    }
}
.portfolio_modal {
    .modal-dialog {
        margin: 3.75rem auto;

    }
    .outer_section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .inner_modal {
            text-align: center;

            .heading_section {
                p {
                    text-transform: uppercase;
                    margin-bottom: 3px;
                }

                h3 {
                    text-transform: uppercase;
                    color: $portfolio_red;
                    font-weight: $font_weight_600;
                }
            }
        }
        .detail_section{
            text-align: justify;
        }
    }

    .modal-header {
        a {
            -webkit-appearance: none;
        }
    }
}